# Rival Gym System - Ignore Rules

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
dist/
build/

# Virtual Environments
.venv/
venv/

# Application Logs
logs/

# Environment and Data
.env
.env.*
*.sqlite3
*.sqlite3*
*.sql
