app = "system-rival"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "5000"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[http_service.checks]]
  grace_period = "40s" # زيادة وقت السماح لبدء التشغيل
  interval = "15s"
  method = "GET"
  timeout = "10s"
  path = "/"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512
  
[processes]
  app = "gunicorn --bind 0.0.0.0:5000 app:app --workers 1 --threads 2"